@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Courgette&family=Monoton&family=Oleo+Script+Swash+Caps&display=swap");
body {
  background-color: rgb(58, 58, 58);
  font-family: "Poppins", sans-serif;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #de1fae;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App header h1 {
  font-family: "Monoton", cursive;
  letter-spacing: 0.1rem;
  color: #1c2e35;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #F5F5F5 ;
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1c2e35;
}

main::-webkit-scrollbar-thumb {
  background: #F5F5F5 ;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: #1c2e35;
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: #009688 ;
  border-left: 3px solid #1c2e35;
}

input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: #FFFFFF;
  color:  rgb(red, green, blue) ;
  outline: none;
  border: none;
  padding: 0 6px;
}

button {
  background-color: #282c34; /* darkgray */
  border: none;
  color: rgb(223, 11, 11);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-out {
  color: white;
  background: #1c2e35;
  max-width: 400px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-out img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.sign-out p {
  padding: 1rem;
  margin: auto;
}

.signInPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signInPage p {
  text-align: center;
}

.sign-in {
  color: #282c34;
  background: #1fde8a;
  min-width: 300px;
  margin: 1rem auto;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.sign-in img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.sign-in p {
  padding: 0.5rem;
  margin: auto;
  color: #1c2e35;
  font-weight: bold;
}

ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 70%;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: rgb(226, 8, 8);
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.message p {
  text-align: left;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: #1c2e35;
  background: #d60fbb;
  align-self: flex-end;
}

.received p {
  background: #900ae3;
  color: #ffffff;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

@media only screen and (max-width: 600px) {
  .App header h1 {
    font-size: larger;
  }
  .social a img {
    width: 2rem;
    height: 2rem;
  }
  .sign-out {
    color: rgb(212, 27, 27);
    background: #1c2e35;
    max-width: 200px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sign-out img {
    width: 2rem;
    height: 2rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sign-out p {
    font-size: medium;
    padding: 0.5rem;
    margin: auto;
  }
};